@use '@/styles/variables.scss' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  cursor: pointer;
  font-size: 18px;
  border-radius: $br-primary;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: $accent-color;
  color: $secondary-color;

  &:hover {
    background-color: $hover-color;
  }
}

.secondary {
  background-color: $primary-color;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.text {
  color: $accent-color;
  font-size: 18px;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-color;
  }
}
