@use '@/styles/variables.scss' as *;

:global(.mySwiper .swiper-slide) {
  width: 360px;
  margin-right: 40px;
}

:global(.swiper-scrollbar-drag) {
  background-color: $controls-bg-tertiary;
}

/* Кастомный скроллбар */
:global(.swiper-scrollbar-custom) {
  height: 5px;
  background-color: $controls-bg-quaternary;
  border-radius: $controls-border-raduis-primary;
  cursor: grab;
}

/* Кастомные кнопки навигации */
:global(.swiper-button-prev-custom),
:global(.swiper-button-next-custom) {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.swiperContainer {
  position: relative;
  padding-bottom: 20px;

  .teacher {
    margin-top: 60px;

    .name {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 600;
    }
    .descriprion {
      font-size: 18px;
      color: $text-color-tertiary;
    }
    .btn {
      margin-top: 20px;
    }
  }
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    .scrollbarWrapper {
      width: 360px;
      position: relative;
    }
    .navButtons {
      display: flex;
      align-items: center;
      gap: 10px;

      .navButton {
        display: flex;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .swiperContainer {
    .teacher {
      .name {
        font-size: 20px;
      }
      .descriprion {
        font-size: 14px;
      }
      .btn {
        font-size: 16px;
      }
    }
    .navContainer {
      .navButtons {
        display: none;
      }
    }
  }
  :global(.mySwiper .swiper-slide) {
    width: 220px;
    margin-right: 20px;
  }
}
