@use '@/styles/variables.scss' as *;

.teachers {
  position: relative;
  padding-bottom: 0;

  .title {
    font-size: 50px;
    font-weight: 600;
  }

  .items {
    position: relative;
    padding-bottom: 100px;
    display: flex;
    margin-top: 60px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .scrollbar {
      position: absolute;
      height: 5px;
      width: 360px;
      border-radius: 40px;
      background-color: $controls-bg-quaternary;
      bottom: 20px;

      :global {
        .swiper-scrollbar-drag {
          cursor: grab;
          border-radius: 40px;
          background-color: $controls-bg-tertiary;
        }
      }
    }

    .swiperButtons {
      position: absolute;
      bottom: 0;
      right: 20px;
      display: flex;
      gap: 10px;

      .prev,
      .next {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1024px) {
  .teachers {
    padding: 60px 0 0 0;

    .title {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .teachers {
    padding-top: 40px;

    .title {
      font-size: 30px;
    }

    .items {
      padding-bottom: 70px;
      margin-top: 40px;
      margin-left: -10px;
      width: calc(100% + 20px);

      :global {
        .swiper {
          padding: 0 10px;
        }
      }

      .swiperSlide {
        max-width: 220px;
      }

      .scrollbar {
        width: calc(100% - 20px);
        left: 10px;
      }

      .swiperButtons {
        display: none;
      }
    }
  }
}
