@use '@/styles/variables.scss' as *;

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: stretch;
  font-size: 20px;

  .activeTab {
    color: $text-color-accent;
  }

  .tab {
    padding: 20px 0;
    width: 100%;
    text-align: left;
  }
}
